<%= form_with(model: bolao, local: true) do |form| %>
  <% if bolao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bolao.errors.count, "error") %> prohibited this bolao from being saved:</h2>

      <ul>
      <% bolao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :nome, class: 'col-sm-2' %>
    <div class="col-sm-10">
      <%= form.text_field :nome, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :ativo, class: 'col-sm-2' %>
    <div class="col-sm-10">
      <%= form.check_box :ativo %>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <%= form.submit 'Salvar', class: 'btn btn-success m-1' %>
    <%= link_to 'Voltar', boloes_path, class: 'btn btn-primary m-1' %>
  </div>
<% end %>
