<p id="notice"><%= notice %></p>

<h1>Boloes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boloes.each do |bolao| %>
      <tr>
        <td><%= bolao.nome %></td>
        <td><%= bolao.ativo %></td>
        <td><%= link_to 'Show', bolao %></td>
        <td><%= link_to 'Edit', edit_bolao_path(bolao) %></td>
        <td><%= link_to 'Destroy', bolao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bolao', new_bolao_path %>
