<div class="card">
  <div class="card-header d-flex justify-content-center">
    Bolões
  </div>
  <div class="card-body">
    <table class="table">
      <thead class="thead-dark">
        <th>#</th>
        <th>Nome</th>
        <th colspan="2">Ações</th>
      </thead>
      <tbody>
        <% @boloes.each do |bolao| %>
          <tr>
            <td><%= bolao.id %></td>
            <td><%= bolao.nome %></td>
            <td><%= link_to 'Visualizar', bolao_path(bolao) %></td>
            <td><%= link_to 'Editar', edit_bolao_path(bolao) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Novo', new_bolao_path, class: 'btn btn-success' %>
  </div>
</div>
