<!DOCTYPE html>
<html>
  <head>
    <title>BolaoGot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="main-nav" class="navbar navbar-expand-md navbar-dark bg-primary">
      <div class="container d-flex justify-content-center">
        <a href="<%= root_path %>" class="navbar-brand">Bolão</a>
      </div>
    </nav>

    <main class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
